@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 50% 5%;
    --foreground: 35 5% 90%;
    --card: 35 50% 0%;
    --card-foreground: 35 5% 90%;
    --popover: 35 50% 5%;
    --popover-foreground: 35 5% 90%;
    --primary: 35 36% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -3 30% 15%;
    --muted-foreground: 35 5% 60%;
    --accent: -3 30% 15%;
    --accent-foreground: 35 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 35 5% 90%;
    --border: 35 30% 18%;
    --input: 35 30% 18%;
    --ring: 35 36% 44%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 35 100% 95%;
    --foreground: 35 5% 0%;
    --card: 35 50% 90%;
    --card-foreground: 35 5% 10%;
    --popover: 35 100% 95%;
    --popover-foreground: 35 100% 0%;
    --primary: 35 36% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -3 30% 85%;
    --muted-foreground: 35 5% 35%;
    --accent: -3 30% 80%;
    --accent-foreground: 35 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 35 5% 90%;
    --border: 35 30% 50%;
    --input: 35 30% 18%;
    --ring: 35 36% 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
